In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("/content/framingham.csv")

In [3]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [4]:
data.dtypes

male                 int64
age                  int64
education          float64
currentSmoker        int64
cigsPerDay         float64
BPMeds             float64
prevalentStroke      int64
prevalentHyp         int64
diabetes             int64
totChol            float64
sysBP              float64
diaBP              float64
BMI                float64
heartRate          float64
glucose            float64
TenYearCHD           int64
dtype: object

In [5]:
k=data.select_dtypes(include="int64").columns

In [6]:
k

Index(['male', 'age', 'currentSmoker', 'prevalentStroke', 'prevalentHyp',
       'diabetes', 'TenYearCHD'],
      dtype='object')

In [7]:
data1=data[k]

In [8]:
data1

,male,age,currentSmoker,prevalentStroke,prevalentHyp,diabetes,TenYearCHD
0,1,39,0,0,0,0,0
1,0,46,0,0,0,0,0
2,1,48,1,0,0,0,0
3,0,61,1,0,1,0,1
4,0,46,1,0,0,0,0
...,...,...,...,...,...,...,...
4235,0,48,1,0,0,0,0
4236,0,44,1,0,0,0,0
4237,0,52,0,0,0,0,0
4238,1,40,0,0,1,0,0
4239,0,39,1,0,0,0,0

In [9]:
data1.dtypes

male               int64
age                int64
currentSmoker      int64
prevalentStroke    int64
prevalentHyp       int64
diabetes           int64
TenYearCHD         int64
dtype: object