In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("/content/framingham.csv")

In [3]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [4]:
import numpy as np

In [8]:
pd.pivot_table(data,values=["cigsPerDay","glucose"],index=["male","currentSmoker"],aggfunc=[np.mean,max,min])

                         mean                   max                min
                   cigsPerDay    glucose cigsPerDay glucose cigsPerDay glucose
male currentSmoker
0    0               0.000000  82.740109        0.0   394.0        0.0    40.0
     1              14.147844  80.477855       50.0   368.0        1.0    45.0
1    0               0.000000  84.364042        0.0   394.0        0.0    43.0
     1              22.109890  80.663760       70.0   332.0        1.0    40.0